h1{
    color: dodgerblue;
    background: white;
    opacity: 0.8;
    border-radius: 20px;
    width: auto;
    padding: 5px;
    margin: 5px;
}

.showgroupe{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card{
    background: white;
    opacity: 0.8;
    padding:20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
li{
    list-style-type: none;
}

.card:hover {
    opacity: 1.0;
  }

.delete{
    background-color: red;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: none;
    margin-top: 20px;
}

.delete:hover{
    background-color: black;
    cursor: pointer;
    color: red;
    transition: 0.8s;
    padding: 5px;
}

.modif{
    background-color: #00acee;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: none;
}
.modif:hover{
    background-color: #fff200;
    color: black;
    cursor: pointer;
    transition: 0.8s;
    padding: 5px;

}
.add{
    background-color: #00bc03;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding: 5px ;
     border: none;

}
form{

    margin: 3px;
}

.add:hover{
    background-color: #8300ee;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    transition: 0.8s;
    padding: 5px;
}
